* {
    font-family: Arial, Helvetica, sans-serif;
    /* line-height: 1.5rem; */
    color:rgb(245, 217, 253);
    margin: 1rem 1rem;
}

body {
    background-color: rgb(26, 14, 53);
}

#title {
    text-align: center;
    margin: 3rem 0;
}

#bio {
    padding: 1rem;
}

p {
    line-height: 1.5rem;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

#top-ten h2 {
    text-align: center;
}

.info {
    width: 33%;
    height: auto;
}

.box {
    background-color: rgba(0, 0, 0, 25%);
    border: 1px solid white;
}
